type: MEMCACHED
config:
  addresses: ["memcached-dc-idf:11211"]
  timeout: 500ms
  max_idle_connections: 300
  max_item_size: 1MiB
  max_async_concurrency: 40
  max_async_buffer_size: 10000
  max_get_multi_concurrency: 300
  max_get_multi_batch_size: 0
  dns_provider_update_interval: 10s
  expiration: 336h